/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // -----------------------------
    // FASTQC
    // -----------------------------
    withName: FASTQC {
        ext.args = { [
                params.fastqc_args ? "${params.fastqc_args}" : '',
                '--quiet'
        ].join(' ').trim() }
        ext.when         = { params.fastqc }
        publishDir       = [
            [
                path: { "${params.outdir}/fastqc/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }

    withName: FASTQC_AFTER_TRIMMING {
        ext.args = { [
                params.fastqc_args          ? "${params.fastqc_args}" : '',
                '--quiet'
        ].join(' ').trim() }
        ext.when         = { params.fastqc && (params.cutadapt) }
        publishDir       = [
            [
                path: { "${params.outdir}/fastqc_after_trimming/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*{html,zip}"
            ]
        ]
    }


    // -----------------------------
    // CUTADAPT
    // -----------------------------
    withName: CUTADAPT {
        ext.args = { [
                params.cutadapt_args          ? "${params.cutadapt_args}" : '',
                '--quiet'
        ].join(' ').trim() }
        ext.when         = { params.cutadapt }
        publishDir       = [
            [
                path: { "${params.outdir}/cutadapt/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*gz"
            ]
        ]
    }

    // -----------------------------
    // Prepare reference files
    // -----------------------------
    withName: 'COMBINE_FILES|CREATE_TRANSCRIPTOME_FASTA|CREATE_TRANSCRIPTOME_FASTA_GFFREAD' {
        publishDir = [
            [path: { "${params.outdir}/references" },
                mode: params.publish_dir_mode,
            ]
        ]
    }

    // to stop files being saved
    // if not included, the files end up in a folder called /replace
    withName: 'REPLACE_ATTRIBUTE_GFF_STAR_SALMON_HOST|REPLACE_ATTRIBUTE_GFF_STAR_SALMON_PATHOGEN|REPLACE_GENE_FEATURE_GFF_HOST_HTSEQ|REPLACE_ATTRIBUTE_GFF_HTSEQ_HOST|REPLACE_GENE_FEATURE_GFF_PATHOGEN_HTSEQ|REPLACE_GENE_FEATURE_GFF_HOST_SALMON|REPLACE_GENE_FEATURE_GFF_PATHOGEN_SALMON' {
        publishDir = [ enabled: false ]
    }


    withName: 'UNCOMPRESS_HOST_FASTA_GENOME|UNCOMPRESS_PATHOGEN_FASTA_GENOME|UNCOMPRESS_HOST_GFF|UNCOMPRESS_PATHOGEN_GFF|COMBINE_FILES_PATHOGEN_HOST_GFF' {
        publishDir = [
            [path: { "${params.outdir}/references" },
                mode: params.publish_dir_mode,
            ]
        ]
        ext.prefix = 'uncompressed'
    }

    // .tsv from GFF - Salmon
    withName: 'EXTRACT_ANNOTATIONS_PATHOGEN_SALMON|EXTRACT_ANNOTATIONS_HOST_SALMON' {
        publishDir       = [
            [
                path: { "${params.outdir}/references/salmon" },
                mode: params.publish_dir_mode,
            ]
        ]
    }

}




// -----------------------------
// SALMON SA
// -----------------------------

process {
    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_INDEX' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_QUANT' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_SPLIT_TABLE_EACH' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:SALMON_SPLIT_TABLE_COMBINED' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:COMBINE_QUANTIFICATION_RESULTS_SALMON' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/salmon_SA/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:COLLATE_PROCESSED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapping_statistics/salmon_SA/" },
            mode: params.publish_dir_mode]
    }

    // Set publishDir to the process using inputs.process
    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_SELECTIVE_ALIGNMENT:EXTRACT_PROCESSED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapping_statistics/salmon_SA/" },
            mode: params.publish_dir_mode]
    }
}


// -----------------------------
// SALMON AB
// -----------------------------

process {
    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:STAR_GENOMEGENERATE' {
        ext.args = '--sjdbGTFfeatureExon quant --sjdbGTFtagExonParentTranscript parent'
        publishDir = [
            path: { "${params.outdir}/salmon_AB/star/" },

            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:STAR_ALIGN' {
        ext.args = """
        --outSAMunmapped ${params.outSAMunmapped} \
        --sjdbGTFfeatureExon ${params.sjdbGTFfeatureExon} \
        --sjdbGTFtagExonParentTranscript ${params.sjdbGTFtagExonParentTranscript} \
        --quantMode ${params.quantMode} \
        --quantTranscriptomeBan ${params.quantTranscriptomeBan} \
        --limitBAMsortRAM ${params.limitBAMsortRAM}
        """.trim()
        publishDir = [
            path: { "${params.outdir}/salmon_AB/star/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_QUANT' {
        publishDir = [
            path: { "${params.outdir}/salmon_AB/salmon/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_SPLIT_TABLE_EACH' {
        publishDir = [
            path: { "${params.outdir}/salmon_AB/salmon/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:SALMON_SPLIT_TABLE_COMBINED' {
        publishDir = [
            path: { "${params.outdir}/salmon_AB/salmon/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:COMBINE_QUANTIFICATION_RESULTS_SALMON' {
        publishDir = [
            path: { "${params.outdir}/salmon_AB/salmon/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:COLLATE_PROCESSED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapping_statistics/salmon_AB/" },
            mode: params.publish_dir_mode]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:EXTRACT_PROCESSED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapping_statistics/salmon_AB/" },
            mode: params.publish_dir_mode]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:SALMON_ALIGNMENT_BASED:TXIMPORT' {
        publishDir = [
            path: { "${params.outdir}/salmon_AB/salmon/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }
}



// -----------------------------
// STAR GENOME
// -----------------------------

process {
    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:STAR_ALIGNMENT:STAR_GENOMEGENERATE' {
        ext.args = '--sjdbGTFfeatureExon quant --sjdbGTFtagExonParentTranscript parent'
        publishDir = [
            path: { "${params.outdir}/star/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:STAR_ALIGNMENT:STAR_ALIGN' {
        ext.args = { [
                params.star_args          ? "${params.star_args}" : '',
                params.outSAMunmapped     ? "--outSAMunmapped '${params.outSAMunmapped}'" : '',
                params.sjdbGTFfeatureExon ? "--sjdbGTFfeatureExon '${params.sjdbGTFfeatureExon}'" : '',
                params.sjdbGTFtagExonParentTranscript ? "--sjdbGTFtagExonParentTranscript '${params.sjdbGTFtagExonParentTranscript}'" : '',
                params.quantMode          ? "--quantMode '${params.quantMode}'" : '',
                params.limitBAMsortRAM    ? "--limitBAMsortRAM '${params.limitBAMsortRAM}'" : ''
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/star/" },
            mode: params.publish_dir_mode
        ]
    }
}



// -----------------------------
// HTSEQ
// -----------------------------

process {
    withName: 'NFCORE_DUALRNASEQ:DUALRNASEQ:PREPARE_REFERENCE_FILES:COMBINE_PATHOGEN_HOST_GFF_FILES_HTSEQ' {
        publishDir = [
            path: { "${params.outdir}/references/" },
            mode: params.publish_dir_mode
        ]
    }


    // .tsv from GFF - HTSeq
    withName: 'EXTRACT_ANNOTATIONS_PATHOGEN_HTSEQ|EXTRACT_ANNOTATIONS_HOST_HTSEQ' {
        publishDir = [
            [
                path: { "${params.outdir}/references/htseq" },
                mode: params.publish_dir_mode,
            ]
        ]
    }


    withName: 'HTSEQ_COUNT' {
        ext.args = { [
                params.htseq_args          ? "${params.htseq_args}" : '',
                params.hts_bam_sort        ? "-r '${params.hts_bam_sort}'" : '',
                params.hts_stranded        ? "-s '${params.hts_stranded}'" : '',
                params.hts_gene_feature    ? "-t '${params.hts_gene_feature}'" : '',
                params.hts_gene_attribute  ? "-i '${params.hts_gene_attribute}'" : '',
                params.hts_mode            ? "-m '${params.hts_mode}'" : '',
                params.hts_nonUnique       ? "--nonunique='${params.hts_nonUnique}'" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/htseq" },
                mode: params.publish_dir_mode,
            ]
        ]
    }
}
